.web-name{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   background-color:coral;
   padding: 10px 0px 10px 0px;
}

.web-name img{
    width: 60px;
    margin-right: 20px;
    
}

.web-name h4{
    color: white;
    font-size: 30px;
    margin-top: 10px;
    font-weight: 700;
}
.web-title{
  
    font-weight: 700;
    font-size: 20px;
}
.study-plan-container{
    display: grid;
    grid-template-columns: 7fr 3fr; 
    position: relative;
}

.subjects{
    margin: 10px 40px 40px 40px;
    padding: 20px;
    background-color: white;
border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.study-calculation{
    margin: 10px 0px 0px 10px;
    background-color: white;
    height: 700px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: sticky;
    top: 0;

    
}

@media only screen and (max-width: 1000px) {
.study-plan-container{
    display: grid;
    grid-template-columns: 1fr;



}
    .web-title{
        text-align: center;
    }
}